body {
    background: #f7fafb;
    color: #1a351a;
}

a {
    color: #223529;
    text-decoration: none;
}

a:visited {
    background-color: lightgrey;
}

a:hover, a:active {
    background-color: #d7ffe8;
    color: #418141;
}

hr {
    margin: 0;
    border: 2px groove #b3dfdf;
}

h1 {
    color: #408040;
}

h2 {
    color: #004000;
}

h3 {
    color: #004000;
}

h4 {
    color: #004000;
}

h5 {
    color: #004000;
}
