body {
    background: #D0E0E0;
    color: #204020;
}

a {
    color: #103010;
    text-decoration: none;
}

a:visited {
    background-color: lightgrey;
}

a:hover, a:active {
    background-color: #D0F0D0;
}

hr {
    margin: 0;
    border: 3px solid #A0C0C0;
}

h1 {
    color: #004000;
}

h2 {
    color: #004000;
}

h3 {
    color: #004000;
}

h4 {
    color: #004000;
}

h5 {
    color: #004000;
}
